/* Responsive */

@media only screen and (min-width: 1351px) {
    .container {
    	max-width: 1400px;
    }

	.container {
	    padding-right: 25px;
	    padding-left: 25px;
	}

	.row {
	    margin-left: -25px;
	    margin-right: -25px;
	}

	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, 
	.col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, 
	.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
	.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, 
	.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
	.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, 
	.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, 
	.col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, 
	.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto, .sideContainer, .widgetColum {
	    padding-right: 25px;
	    padding-left: 25px;
	}
}


@media only screen and (min-width: 1200px) {
    .container {
    	max-width: 1400px;
    }
}


@media only screen and (max-width: 1350px) {

	.newsbanarLeft {
	    padding: 20px 20px 20px 30px;
	}

	.container {
	    padding-right: 15px;
	    padding-left: 15px;
    	max-width: 100%;
	}

	.row {
	    margin-left: -15px;
	    margin-right: -15px;
	}

	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, 
	.col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, 
	.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
	.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, 
	.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
	.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, 
	.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, 
	.col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, 
	.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto, .sideContainer, .widgetColum {
	    padding-right: 15px;
	    padding-left: 15px;
	}

    .sidebar_widget {
	    padding: 25px 15px;
	}

}/*(max-width: 1350px)*/



@media only screen and (max-width: 1300px) {

	.menuTrigerArea {
		margin-right: 25px
	}

	ul.mainMenu li a {
	    margin-left: 7px;
	    margin-right: 7px;
	}

	body, .importantNewsBox h4, h4, ul.quickLinks li a {
	    font-size: 18px;
	}

	.MostsingleNewsList a {
	    font-size: 16px;
	}

	h2, h3 {
	    font-size: 22px;
	}


	.newsBanar_content .MostsingleNewsList a {
	    font-size: 18px;
	}

	.mostInportNewsList.verticalList .MostsingleNewsList a {
	    font-size: 18px;
	}

	section.banarSection> .container> .row {
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	}

	section.banarSection> .container> .row .widgetColum {
	    min-width: 330px;
	}

	section.banarSection> .container> .row 
	 .sideContainer {
	    width: auto;
	    -webkit-box-flex: 1;
	        -ms-flex-positive: 1;
	            flex-grow: 1;
	    max-width: unset;
	}

}/*(max-width: 1300px)*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
}

@media only screen and (max-width: 1199px) {

	.archive_banar_title_cont h2 {
	    font-size: 70px;
	    margin-top: -178px;
	}

	.singleArchiveCont {
	    padding-right: 200px;
	}

	.archive_post_img {
	    width: 200px;
	}

	.newsbanar-play.posterDetails {
		padding: 0 0px;
	}

	.genPostConten {
	    padding: 50px 20px 50px 20px;
	}

	.redTitle {
	    margin-right: -20px;
	    padding-right: 10px;
	}

	.blackBoxCont {
    	padding: 28px 35px 35px;
	}

	.readAlsoBox.whiteBoxConten {
	    padding: 28px 20px 32px 20px;
	}

	.comentsArea {
	    padding: 30px 20px;
	}

	.postContainer.container .widgetColum {
		min-width: 338px;
	}

	.postContainer.container> .row {
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	}

	span.menu_bar {
		margin-right: 22px
	}

	.menuTrigerArea .search_triger,
    .main_menu_area ul#mainMenu, 
    .main_menu_area ul.social_links {
	    display: none;
	}

	.newsBnaContent {
	    padding: 30px 30px 60px 20px;
	    width: 100%;
	}

	.widgetSideContainer {
		padding: 45px 30px 20px 30px;
	}

	.widgetSideContainer .newsBnaContent {
		padding: 30px 25px 20px 25px;
	}

	.OpinArtiBox {
		padding: 36px 25px 0px 25px;
	}

	.col.OpinArtiCol {
	    width: 33.3333% !important;
	    max-width: 33.333% !important;
	    min-width: 33.3333%;
	}

	.row.OpinArtiRow {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	}

	.listenToContain {
	    padding: 30px 25px 5px 25px;
	}


}/* (max-width: 1199px) */


/* Medium Devices, Tablet, Mobile */    
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (max-width: 991px) {

	blockquote.blockquote {
		margin-right: 25px;
		margin-left: 25px;
	}

	ul.pagination .page-link {
	    padding: 0 7px;
	}

	.archivePagination.archivePagi {
	    padding: 12px 10px;
	}

	.all_page_number {
		margin-right: 20px
	}

	.archiveContents {
	    padding: 33px 20px 50px;
	}

	.archive_banar .podcastLogo {
	    min-width: 315px;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	    padding-right: 15px;
	}

	.archive_podcast_container {
	    padding: 50px 35px;
	}

	.archive_banar_title_cont h2 {
	    font-size: 70px;
	    margin-top: -150px;
	}

	.postOpinionArea .newsbanar-play.posterDetails {
	    padding-bottom: 50px;
	}

	.postpageContainer.container .sideContainer {
	    margin-top: 30px;
	}

	.newsbanarright, .newsbanarLeft {
		width: 50%
	}

	.footer_logo_left {
		padding-top: 100px
	}

}/*(max-width: 991px)*/
    
@media only screen and (min-width: 426px) and (max-width: 767px) {
   
}
      
@media only screen and (min-width: 768px) {

	.desktopNone {
		display: none !important;
	}
   
}
      
@media only screen and (max-width: 767px) {

	body.darkV .relatedPost .relatedTitle {
	    background: #262626;
	}


	body.darkV .header_top, body.darkV .bg_white {
	    background: #262626;
	}

	body {
	    padding-top: 101px;
	    /*padding-bottom: 85px*/
	}

	header.header_area {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 999;
	    -webkit-transition: .3s ease all;
	    -o-transition: .3s ease all;
	    transition: .3s ease all;
	}

	header.header_area.sticky {
	    -webkit-box-shadow: 0 0 6px rgb(0 0 0 / 29%);
	            box-shadow: 0 0 6px rgb(0 0 0 / 29%);
	}

	section.archive_podcast_banar .container {
	    padding: 0;
	}

	.archive_podcast_container {
	    padding: 50px 20px;
	}

	.archive_banar_title {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    padding-right: 35px;
	    padding-left: 35px;
	}

	.archive_banar .podcastLogo {
	    padding-right: 0;
	    margin: 0 auto;
	    min-width: unset;
	}

	.archive_banar_title_cont h2 {
	    margin: -100px 0 0 0;
	    font-size: 50px
	}

	.coment_options {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-align: start;
	        -ms-flex-align: start;
	            align-items: flex-start;
	}

	.coment_options li {
	    width: 260px;
	    padding: 5px 12px;
	}

	blockquote.blockquote {
	    margin-right: -35px;
	    margin-left: -35px;
	    border-radius: 0;
	    padding-right: 125px;
	    max-width: unset;
    	padding-left: 40px;
	}

	.blockqIcon {
		right: 22px
	}

	blockquote.blockquote:after {
		display: none;
	}

	blockquote.blockquote img {
	    right: 35px;
	}

	.newsbanar-play.posterDetails {
		padding: 0 20px;
	}

	.genPosttitle h1 {
	    font-size: 20px;
	}

	.genPostConten .singleShareIcons {
	    display: none;
	}

	.genPosttitle {
	    padding-left: 0;
	    padding-bottom: 0;
	    border-bottom: 0;
	}

	.redTitle {
	    margin-right: -40px;
    	padding-right: 14px;
	}

	.comentsArea {
	    padding: 30px 0px;
	}

	.readAlsoBox.whiteBoxConten {
	    padding: 28px 0px 32px 0px;
	}

	.genPostConten {
	    padding: 30px 0px 30px 0px;
	}

	.sportsNewsContainer .widgetSideTitle {
		margin-right: 35px;
		margin-left: 35px;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}

	.postContainer.container .sideContainer {
	    width: 100%;
	    max-width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	}

	section.genera_container.archiveArea .sideContainer {
	    width: 100%;
	    max-width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	}

	.postContainer.container {
	    padding-right: 35px;
	    padding-left: 35px;
	}

	.newsbanar-play.posterDetails {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	}

	.generalpostDetails .newsBanarImg {
	    margin-right: -40px;
	    margin-left: -40px;
	}

	section.genera_container.mt-5 {
	    margin-top: 0 !important;
	}

	.header_bottom {
	    display: none;
	}

	.postContainer.container .widgetColum {
		display: none;
	}

	.mobileNone, .nav_brand:after {
		display: none !important;
	}

	body {
	    background: #fff;
	}

	.newsBanar_content .MostsingleNewsList a {
	    font-weight: 400;
	    font-family: 'Awras-Emir';
	}

	.newsBnaContent h3, h2, h3 {
	    font-size: 20px;
		/*font-weight: 400;	*/
    	/*font-family: 'Awras-Emir';*/
	}

	.newsBnaContent h3 {
		font-weight: 400;	
    	font-family: 'Awras-Emir';
	}

	.widgetColum {
	    width: 100%;
	    max-width: 100%;
	}

	.newsBanar_content .news_img {
	    width: 127px;
	    min-height: 100%;
	    height: 71px;
	}

	.newsbanar-play {
		display: none;
	}

	.widgetSideContainer .widgetColum {
    	padding: 20px 50px 10px 50px;
	}

	section.sportsNewsContainer.mt-5 {
	    margin-top: 15px !important;
	}

	section.sportsNewsContainer .widgetSideContainer, 
	section.sportsNewsContainer .container {
	    padding: 0;
	}

	section.sportsNewsContainer .widgetSideContainer .sideContainer {
	    width: 100%;
	    min-width: unset;
	    max-width: 100%;
	}

	section.newsBanarSection .container {
	    padding: 50px 35px 0px 35px;
	}

	section.newsBanarSection {
	    margin: 0;
	}

	.newsBanar_content {
	    padding: 0;
	    margin-top: 25px;
	}

	.newsbanarright, 
	.newsbanarLeft {
	    width: 100%;
	    border: 0;
	    padding-right: 0;
	    padding-left: 0;
	}

	.sidebar_widget {
		padding-right: 35px;
		padding-left: 35px;
		padding-top: 0;
	}

	ul.widgetSideTags li:not(.active) {
	    display: none;
	}

	.newsBnaContent {
    	padding: 16px 0px 15px 0px !important;
	}

	.newsBnaBox {
	    padding: 0 35px;
	}

	section.banarSection> .container> .row .widgetColum {
	    width: 100% !important;
	    max-width: unset;
	    padding: 0;
	}

	.MostsingleNewsList a {
	    font-size: 18px;
	}

	.importantNewsBox h4 {
	    font-size: 25px;
	}

	.returnTaboun_wid.returnTabounMobile {
		padding: 6px 20px 29px;
	}

	.nav_brand img {
	    width: 51px;
	}

	.returnTaboun_wid.returnTabounMobile .nav.nav-pills.retureTaboList {
	    max-width: 323px;
	    margin: 0 auto;
	}

	section.banarSection> .container> .row .sideContainer {
	    width: 100%;
	    padding: 0;
	}

	section.banarSection> .container> .row {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	}

	.importantNewsBox .titleMobile {
	    padding-bottom: 15px !important;
	    border-bottom: 1px solid #EEEEEE;
	}

	.OrasVideosBox {
	    margin-bottom: 37px;
	}

	.listenToRow {
		padding: 0;
		margin-right: -5px;
		margin-left: -5px
	}

	.listenToRow .col-lg-3.col-md-4.col-sm-6 {
		padding-right: 5px;
		padding-left: 5px;
	}

	.row.listenToRow .col-lg-3.col-md-4.col-sm-6.col-12.mb-4:nth-child(1) div {
	    margin: 0;
	}

	section.OrasVideosContainer {
	    padding-top: 25px !important;
	    padding-bottom: 10px !important;
	    background: #000000 !important;
	    margin-top: 0px;
	}

	section.OrasVideosContainer .container {
	    padding: 0 35px;
	}

	section.OrasVideosContainer .container .col-lg-4.col-md-4.col-sm-6 {
	    padding-right: 5px;
	    padding-left: 5px;
	}

	.row.OrasVideosRow {
	    margin-left: -5px;
	    margin-right: -5px;
	}

	.OrasVideosImage .playNeVid img {
	    display: block;
	    width: 20px;
	}

	.news_img {
	    width: 127px;
	    height: 72px;
	}

	.mostInportNewsList.verticalList .MostsingleNewsList {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: row-reverse;
	            flex-direction: row-reverse;
    	-webkit-box-pack: end;
    	    -ms-flex-pack: end;
    	        justify-content: flex-end;
    	margin-bottom: 35px;
	}

	.mostInportNewsList.verticalList .MostsingleNewsList a {
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
	}

	.mostInportNewsList.verticalList .MostsingleNewsList .news_img {
	    width: 127px;
	    height: 72px;
	    padding: 0;
	    margin-left: 13px;
	    margin-bottom: 0;
	}

	section.OrasVideosContainer .container .col-lg-4.col-md-4.col-sm-6:first-child .OrasVideosImage .playNeVid img {
	    width: 50px;
	}

	.col.OpinArtiCol {
	    width: 50% !important;
	    max-width: 50% !important;
	    min-width: 50% !important;
	}

	.listenVia ul.widgetSideTags {
	    display: none;
	}

	.listenVia {
	    background: #343434;
	    padding: 10px 29px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}

	.listenToContain .border_title {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}

	section.OrasVideosContainer .widgetSideTags .active span.newsTag img {
	    -webkit-filter: invert(1) brightness(7.5);
	            filter: invert(1) brightness(7.5);
	}

	section.OrasVideosContainer .widgetSideTitle h2 {
	    color: #fff;
	}

	section.OrasVideosContainer .OrasVideosContent h4 {
	    color: #fff;
	}

	section.OrasVideosContainer .OrasVideosContent p {
	    color: rgb(208 208 208 / 50%);
	    display: none;
	}

	section.OrasVideosContainer .container .col-lg-4.col-md-4.col-sm-6:first-child .OrasVideosContent p {
	    display: block;
	}

	section.OrasVideosContainer .widgetSideTitle {
	    margin-bottom: 30px;
	    padding-bottom: 0;
	    border: 0;
	}

	section.listenToContainer {
	    margin-top: 0 !important;
	    margin-bottom: 50px;
	}

	section.listenToContainer .border_title {
	    border: 0;
	    padding-bottom: 0;
	    margin-bottom: 40px;
	}

	section.OpinArtiContainer .container {
	    padding: 0 10px;
	}

	section.listenToContainer .container {
	    padding: 0;
	}

	.listenToContain {
	    padding: 30px 35px 5px 35px;
	}

	.newsBnaBox .newsBnaContentBox p {
	    display: none;
	}

	.sidebar_widget .widgetSideTitle {
	    padding-bottom: 10px;
	    border-bottom: 1px solid #EEE;
	    margin-bottom: 25px;
	}

	section.OpinArtiContainer.mt-5 {
	    margin-top: 0px !important;
	}

	.OpinArtiBox .widgetSideTitle {
	    padding-bottom: 15px;
	    margin-bottom: 30px;
	}

	footer.footer_area {
	    padding: 50px 20px 110px;
	    margin-top: 0;
	    background: #000000;
	}

	footer.footer_area img.w-logo {
	    display: none;
	}

	footer.footer_area img.d-logo {
	    display: block !important;
	    width: 55px;
	}

	.footerLogo {
	    margin-bottom: 20px;
	}

	.quickLinksWidget h3 {
	    color: #fff;
	    border-bottom: 1px solid rgb(165 165 165 / 20%);
	    position: relative;
	}

	.quickLinksWidget h3:after {
		content: "";display: block;
		background: url("../img/icons/feather-chevron-down.svg") no-repeat scroll center / contain;
		width: 20px;
		height: 20px;
		position: absolute;
		left: 20px;
		top: 5px;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}

	.genPostGallaryBox {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}

	.galaryLeftBox, .galaryrighttBox {
	    width: 100%;
	    max-width: 100%;
	}

	.singleGalaryImg a {
	    width: 100%;
	}

	.row.readAlsoRow {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: row;
	            flex-direction: row;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	    overflow: scroll;
	}

	.quickLinksWidget.active h3:after {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}

	.quickLinks {
	    max-height: 0;
	    overflow: hidden;
	    visibility: hidden;
	    opacity: 0;
	    -webkit-transition: .3s ease all;
	    -o-transition: .3s ease all;
	    transition: .3s ease all;
	}

	.footer_logo_left {
	    padding-top: 40px;
	    color: #fff;
	}

	footer.footer_area  a.FootLogLeft img.d-logo {
	    width: auto;
	    height: 34px;
	    -webkit-filter: brightness(3);
	            filter: brightness(3);
	}

	.quickLinksWidget {
	    margin-bottom: 0;
	    -webkit-transition: .3s;
	    -o-transition: .3s;
	    transition: .3s;
	}

	.quickLinksWidget.active {
	    margin-bottom: 35px;
	}

	.quickLinksWidget.active .quickLinks {
	    max-height: 250px;
	    visibility: visible;
	    opacity: 1;
	}

	.mostReadeSliderWraper {
	    padding: 0 0 65px 0;
	}

	section.mostReadedContainer .container {
	    padding: 0;
	}

	.mostReadeSlideBox {
	    padding: 25px 35px 0px;
	}

	.dropdown.mostReadeDrop {
	    margin-left: auto;
	    margin-right: auto;
	    padding-bottom: 10px;
	    margin-bottom: 30px;
	}

	.swiper-container.mostReadeSlider.swiperNav .swiper-button-prev, .swiper-container.mostReadeSlider.swiperNav .swiper-button-next {
	    top: 100%;
	    height: 30px;
	}

	.swiper-container.mostReadeSlider.swiperNav .swiper-button-prev img, .swiper-container.mostReadeSlider.swiperNav .swiper-button-next img {
	    display: block;
	    height: 100%;
	    width: auto;
	}

	.swiper-container.mostReadeSlider.swiperNav .swiper-button-prev {
	    left: auto;
	    right: 0;
	}

	.swiper-container.mostReadeSlider.swiperNav .swiper-button-next {
	    right: auto;
	    left: 0 !important;
	}

	header.header_area .container {padding-right: 30px;padding-left: 30px;}

	section.banarSection .newsBnaBox {
	    padding: 0;
	}

	section.banarSection .newsBnaContentBox {
	    padding: 0 35px;
	}

	.mobile_content .mobile_poster img {
	    width: 100%;
	}

	.genPostGallary.blackBoxCont.mb-5 {
	    margin-bottom: 15px !important;
	    margin-right: -35px;
	    margin-left: -35px;
	}

	.blackBoxCont {
	    margin-right: -35px;
	    margin-left: -35px;
	}

	.readAlsoBox.whiteBoxConten {
	    background: #F5F5F5;
	    margin-right: -35px;
	    margin-left: -35px;
	    padding-top: 34px;
	    padding-bottom: 34px;
	    padding-right: 35px;
	    padding-left: 35px;
	}

	.genPostGallary.blackBoxCont.postAlbum {
	    padding-right: 35px;
	    padding-left: 35px;
	}

	.audio_play {
	    padding-right: 0;
	    padding-left: 0;
	}

	.audio_play.audioBanar {
	    margin-right: -35px;
	    margin-left: -35px;
	}

	.postPromotedbanar {
	    margin-right: -35px;
	    margin-left: -35px;
	}

	.relatedPost {
  	  margin: 35px auto 30px auto;
	}

	.relatedPost .MostsingleNewsList p {
		font-size: 18px
	}

	.genPosAuthore img {
	    margin-top: -65px;
	    width: 75px;
	    height: 75px;
	}

	.promotional_content {
	    margin-top: -64px;
	    margin-bottom: 30px;
	    padding: 0;
	}

	.promotionalTag {
	    padding: 6px 16px;
	    border-radius: 5px;
	    font-size: 16px;
	}

	.promotionalInfo img {
		display: block;
		width: 20px;
		height: 20px;
	}

	.genera_container.postPromoteArea .generalpostDetails .genPostConten blockquote.blockquote {
		margin-right: -35px;
		margin-left: -35px;
		max-width: unset;
		width: auto;
	}

	section.genera_container.archiveArea .archiveContents {
	    padding: 30px 15px;
	}

	.singleArchiveCont {
	    margin-bottom: 30px;
	}

	section.genera_container.archiveArea .widgetSideTitle {
	    padding-bottom: 20px;
	    margin-bottom: 30px;
	}

	section.archive_podcast_area {
		margin-bottom: 50px
	}

	.genPostGallary.blackBoxCont.postAlbum .galarryTitle.blackBoxTitle {
	    padding-top: 0 !important;
	    margin-top: 0;
	}

	.genPostGallary.blackBoxCont.postAlbum .galaryDetails {
	    padding-top: 20px !important;
	    padding-bottom: 20px;
	}
   
   .custome_audio .audioplayer-playpause {
	    width: 90px;
	    height: 90px;
	}

	.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
	    width: 45px !important;
	    height: 50px !important;
	}

	.audioplayer-bar-played {
		left: 0 !important
	}

	.audio-title {
	    font-size: 16px;
    	right: 58px;
    	display: none;
	}

	.audioplayer-volume {
	    width: 54px;
	}

	.audioplayer-volume-button a {
	    top: 0;
	    left: 8px;
	}

	.custome_audio {
		width: 100vw;
		left: 35px;
	}

} /* (max-width: 767px) */ 
       
@media only screen and (max-width: 575px) {
/*
	.row.readAlsoRow {
	    flex-wrap: nowrap;
	    overflow: auto;
	    justify-content: center;
	}*/

	.col.OpinArtiCol {
	    width: 100% !important;
	    max-width: 100% !important;
	    min-width: 100% !important;
	}

	.all_page_number {
	    margin-right: 20px;
	}

	.singleArchiveCont {
	    padding-right: 180px;
	}

	.archive_post_img {
	    width: 180px;
	}

	.Archive-body {
	    padding: 15px 20px 15px 10px;
	    min-height: unset;
	}

	.singleArchiveCont {
	    padding: 0;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}

	.archive_post_img {
	    position: relative;
	    width: 100%;
	}

	section.genera_container.archiveArea {}

	section.genera_container.archiveArea .postContainer.container {
	    padding: 0 14px;
	}

	.Archive-body ul.genPostag li a.archiveAuthore {
	    margin-right: 0;
	}

	.promotionalInfoTitle {
	    right: 50%;
	    -webkit-transform: translate(50%);
	        -ms-transform: translate(50%);
	            transform: translate(50%);
	}

	.promotionalInfoTitle:before {
	    right: 50%;
	    margin-right: 8px;
	}


}/* @media only screen and (max-width: 575px) */
    
@media only screen and (min-width: 320px) and (max-width: 425px) {
	
}    

@media only screen and (max-width: 480px) {

	.dropdown.mostReadeDrop .dropdown-menu {
	    right: 50% !important;
	}

	.dropdown.mostReadeDrop .dropdown-menu:before {
	    right: 125px;
	}

	ul.pagination li:first-child {
	    width: 50%;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	    -webkit-box-ordinal-group: 31;
	        -ms-flex-order: 30;
	            order: 30;
	    margin: 0;
	    text-align: left;
	    padding: 10px 0 10px 28px;
	}

	ul.pagination li:last-child {
	    width: 50%;
	    margin: 0;
	    -webkit-box-ordinal-group: 46;
	        -ms-flex-order: 45;
	            order: 45;
	    padding: 10px 29px 10px 0px;
	}

	ul.pagination {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}

	.archivePagination {
	    padding: 12px 33px;
	}

	.archive_banar_title_cont h2 {
	    font-size: 40px;
	}

	
} /* @media only screen and (max-width: 480px) */
     

@media only screen and (max-width: 425px) {
	.mobile_content {
		width: 100%;
	}
}
      
@media only screen and (max-width: 400px) {

	header.header_area .container {
		padding-right: 15px;
		padding-left: 15px;
	}

	section.genera_container.archiveArea .sideContainer {
		padding-right: 0;
		padding-left: 0;
	}

	.genera_container.postPromoteArea .generalpostDetails .genPostConten blockquote.blockquote {
		margin-right: -15px;
		margin-left: -15px;
		max-width: unset;
		width: auto;
	}

	.postContainer.container {
	    padding-right: 15px;
	    padding-left: 15px;
	}

	.genPostGallary.blackBoxCont.mb-5 {
	    margin-right: -15px;
	    margin-left: -15px;
	    padding-right: 15px;
	    padding-left: 15px;
	}

	section.banarSection .newsBnaContentBox {
	    padding: 0 15px;
	}

	.sidebar_widget {
	    padding-right: 15px;
	    padding-left: 15px;
	}

	section.newsBanarSection .container {
	    padding: 50px 15px 0px 15px;
	}

	.newsBnaBox {
	    padding: 0 15px;
	}

	.widgetSideContainer .widgetColum {
	    padding: 20px 30px 10px 30px;
	}

	section.OrasVideosContainer .container {
	    padding: 0 15px;
	}

	.OpinArtiBox {
	    padding: 36px 5px 0px 5px;
	}

	.listenToContain {
	    padding: 30px 15px 5px 15px;
	}

	footer.footer_area {
	    padding: 50px 0px 110px;
	}

	.audio_play.audioBanar {
	    margin-right: -15px;
	    margin-left: -15px;
	}

	.redTitle {
	    margin-right: -20px;
	    padding-right: 10px;
	}

	.archive_banar_title {
	    padding-right: 15px;
	    padding-left: 15px;
	}

	.archive_podcast_container {
	    padding: 30px 0px 0 0;
	}

	.archivePagination {
    	padding: 12px 10px;
	}

	ul.pagination .page-link {
    	padding: 0 8px;
	}

	.promotionalInfoTitle {
	    max-width: 190px;
	    white-space: normal;
	    width: 1000px;
	    right: auto;
	    -webkit-transform: unset;
	        -ms-transform: unset;
	            transform: unset;
	    left: 50%;
	    -webkit-transform: translate(-50%);
	        -ms-transform: translate(-50%);
	            transform: translate(-50%);
	}

	.promotionalInfoTitle:before {
	    right: auto;
	    left: 50%;
	    margin-left: -6px;
	}
	
	.custome_audio {
		left: 15px
	}

	blockquote.blockquote {
	    padding-right: 105px;
	}

}/*  (max-width: 400px) */

@media only screen and (max-width: 375px) {

}
   
@media only screen and (max-width: 360px) {



	ul.retureTaboList:hover {
	    padding-bottom: 40px;
	}
}
   